.contacto {
    display: flex;
    gap: 20px;
}
.contacto div {
    width: 100%;
}
.datos p{
    font-size: 15px;
}
.datos ul li {
    font-size: 15px;
}
.formulario p {
    display: flex;
}
.formulario p label {
    min-width: 80px;
}
.formulario p label {
    display: flex;
    align-items: center;
}
.formulario p:nth-child(4) {
    align-items: start;
}